:root {
  --rule-border: 1px solid rgb(200, 200, 200);
  --cell-size: 30px;
  --cell-font-size: 10px;
  --start-goal-size: 20px;
  --trace: rgba(100, 120, 255, 0.3);
  --path: rgba(255, 30, 26, 0.7);
  /* --theme-1: rgba(91, 134, 229); */
  --theme-1: repeating-linear-gradient(
  45deg,
  rgba(155, 175, 235, 0.95),
  rgba(155, 175, 235, 0.95) 10px,
  rgba(135, 155, 235, 0.95) 10px,
  rgba(135, 155, 235, 0.95) 20px);
  --theme-2: rgba(110, 124, 210);
  --theme-3: rgba(170, 170, 210);
}
/******************************* TAG SPECIFIC *******************************/
* {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  font-size: 13px;
  font-family: arial, sans-serif;
}
html {
  height: 100%;
}
@media (min-width: 600px) {
  body {
    display: flex;
    /* background: hsl(240, 70%, 70%); */
    background: var(--theme-1);
    /* background: -webkit-repeating-linear-gradient(230deg, #a24bcf, #4bc5cf, #5B86E5, #36D1DC, #5B86E5, #4bc5cf, #a24bcf); */
    /* background: repeating-linear-gradient(230deg, #a24bcf, #4bc5cf, #5B86E5, #36D1DC, #5B86E5, #4bc5cf, #a24bcf); */
    /* background-size: 200% 200%; */
    min-height: 100%;
    margin: 0;
    padding: 0;
    z-index: -99;
    justify-content: center;
    align-content: flex-start;
    flex: 1 1 max-content;
  }
}
@media (max-width: 600px) {
  body {
    display: flex;
    /* background: hsl(240, 70%, 70%); */
    background: var(--theme-1);
    /* background: -webkit-repeating-linear-gradient(230deg, #a24bcf, #4bc5cf, #5B86E5, #36D1DC, #5B86E5, #4bc5cf, #a24bcf); */
    /* background: repeating-linear-gradient(230deg, #a24bcf, #4bc5cf, #5B86E5, #36D1DC, #5B86E5, #4bc5cf, #a24bcf); */
    /* background-size: 200% 200%; */
    min-height: 100%;
    margin: 0;
    padding: 0 10px 0 10px;
    z-index: -99;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1 1 max-content;
  }
}
a {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}
input {
  border: 1px solid rgb(200, 200, 220);
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  transition: 0.2s;
  margin: 1.5px;
}
input:hover {
  border: 1px solid rgb(180, 180, 200);
  background-color: rgb(250, 250, 255);
  transform: scale(1.15,1.15);
}
input:focus {
  border: 1px solid rgb(140, 140, 230);
  background-color: rgb(245, 245, 255);
}
input:active {
	transform: scale(0.95,0.95);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  width: 110px;
}
input.bad {
  border: 1px solid rgb(255, 100, 100);
  background-color: rgb(255, 245, 245);
}
input.bad:hover, input.bad:focus {
  border: 1px solid rgb(255, 50, 50);
  background-color: rgb(255, 230, 230);
}
th {
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 8pt;
}
sub { 
  top: 0.4em; 
}
.containers {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  padding: 10px;
  flex: 1 1 0;
  box-sizing: content-box;
  margin-left: -10px;
}
.footer {
  display: flex;
  flex-flow: column wrap;
  font-family: arial, sans-serif;
  color: rgb(255, 255, 255, 0.8);
  font-size: 12px;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  flex: 0 0 0;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  background: var(--theme-2);
  /* border: 1px solid var(--theme-3); */
  margin: 0 0 10px -10px;
  padding: 5px 0 5px 0;
  box-sizing: content-box;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.page {
  display: flex;
  position: absolute;
  background: rgba(250, 250, 255, 1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-content: flex-start;
  flex-flow: column wrap;
  min-height: 100%;
  box-sizing: content-box;
  padding: 0 5px 0 5px;
}
/**************************** NAV *******************************/
.nav {
  display: flex;
  padding: 2px 0 7px 0;
  width: 100%;
  margin: 10px 0 0 -10px;
  text-align: center;
  box-shadow: 0 0px 5px 1px rgba(0,0,0,0.3);
  min-width: 300px;
  box-sizing: content-box;
  align-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  background: var(--theme-2);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.nav_pane {
  display: flex;
  margin: 5px 5px 0 5px;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 3px rgba(200,200,200,0.5); */
  /* background: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
}
.nav_title {
  display: block;
  font-family: "Unica One", sans-serif;
  font-size: 30px;
  vertical-align: top;
  color: rgb(80, 80, 120);
  color: white;
  margin: 10px 15px 0 15px;
  font-weight: 600;
}
input.nav_num {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  top: 0;
  vertical-align : top;
  box-sizing: border-box;
}
.nav_btn {
  /* background:linear-gradient(to bottom, #fcfcfc 5%, #dcdcdc 100%); */
  /* background-color:#fcfcfc; */
  border-radius: 5px;
  border:1px solid #e3e3e3;
  display:flex;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:13px;
  width: 37px;
  height: 37px;
  top: 0;
  text-decoration:none;
  font-weight: normal;
  text-align: center;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  transition: 0.1s;
  margin: 1.5px;
  background-color: white;
}
.nav_btn:hover{
  /* background:linear-gradient(to bottom, #ececef 5%, #dcdcdc 100%); */
  /* border:1px solid #b3b3b3; */
  /* box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.2); */
  border:1px solid #d3d3d3;
  transform: scale(1.15,1.15);
}
.nav_btn:active{
  /* background:linear-gradient(to bottom, #dcdcdc 5%, #fcfcfc 100%); */
  /* border:1px solid #b3b3b3; */
  background-color:#fafafc;
  /* box-shadow: inset 0 0 2px rgba(100, 100, 150, 0.4); */
  box-shadow: none;
  transform: scale(1,1);
}
.nav_btn img{
  width: 100%;
  height: 100%;
}
.nav_btn_long {
  width: auto;
  align-items: center;
  text-align: center;
  padding: 0 5px 0 5px;
  font-family: 'Trebuchet MS';
}
.nav_btn_on {
  background-color: #4fc9d3;
  background-image: linear-gradient(10deg, #E8C2FF  0%, #DFF2FF  51%, #B2F8FF  100%);
  background-size: 100% 300%;
  border: 1px solid rgba(180, 180, 250);
  box-shadow: 0 0 3px 1px rgba(200, 200, 250, 0.5);
}
.nav_btn_on:hover {
  background-position: 0% 50%;
  border: 1px solid rgba(150, 150, 250);
}
.nav_btn_on:active {
  background-position: 0% 80%;
  border: 1px solid rgba(150, 150, 250);
}
/**************************** INFO PANE *******************************/
.info_container {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  position: relative;
  margin: 0 10px 0 0;
  height: 100%;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
  flex-flow: column;
  align-content: flex-start;
  justify-content: space-between;
  min-width: 10px;
}
.info_toggler {
  display: flex;
  margin: 0 10px 0 0;
  border-radius: 5px;
  width: 100%;
  background: var(--theme-2);
  box-sizing: border-box;
  /* border: 1px solid rgb(80, 80, 150); */
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  transition: 0.2s ease;
  font-size: 0px;
  align-content: center;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  color: white;
}
.info_toggler:hover {
  font-size: 13px;
}
.info_panes {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  width: 300px;
  margin: 10px 0 0 0;
}
.info_pane {
  display: flex;
  margin: 0 0 5px 0;
  padding: 0 0 0 0;
  flex: 1 1 auto;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  transition: 0.1s ease;
}
.info_pane_title {
  display: block;
  font-family: 'Unica one', sans-serif;
  font-size: 17px;
  color: white;
  padding: 5px 0 3px 0;
  margin: 0;
  width: 100%;
  flex-grow: 1;
  transition: 0.1s ease;
  border: 1px solid var(--theme-3);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  background: var(--theme-2);
  border-radius: 7px 7px 0 0;
}
.info_pane_title.closed {
  border-radius: 7px;
}
.info_pane:hover .info_pane_title {
  /* font-size: 20px; */
  transform: scale(1.05,1.05);
  border-radius: 7px;
}
.info_pane_title:hover {
  box-shadow: 0 0 3px 1px rgba(120, 120, 150, 0.7);
}
.info_content {
  display: flex;
  margin: 0;
  padding: 5px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid var(--theme-3);
  border-top: none;
  border-radius: 0 0 7px 7px;
  box-sizing: border-box;
}
/* text */
.info_text {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  flex-grow: 1;
  text-align: left;
}
/* pair */
.info_pair {
  display: flex;
  width: 112px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 0 0 5px 5px;
}
.info_cell {
  display: block;
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  width: 56px;
  border-radius: 3px;
}
.info_cell.title {
  font-weight: bold;
  background: rgba(120, 120, 150, 0.8);
}
/* list */
.info_list {
  flex: 1 1 100%;
  flex-flow: column wrap;
  justify-content: center;
}
.info_list > div.description {
  display: inline-block;
  text-align: justify;
  width: 100%;
  margin: 0 0 5px 0;
}
.info_list > div.list {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(150, 150, 170, 0.8);
  box-sizing: border-box;
  width: 100%;
}
.info_list > div.list > div {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  justify-content: space-evenly;
  border-top: 1px solid rgba(150, 150, 170, 0.8);
  box-sizing: border-box;
}
.info_list > div.list > div > div {
  display: flex;
  flex: 1 1 0;
  justify-content: space-around;
  align-content: center;
  padding: 2px;
  font-family: 'Courier New', sans-serif;
  font-size: 10px;
  border-color: rgba(150, 150, 170, 0.8);
}
.info_list > div.list > div :not(:last-child) {
  border-right-width: 1px;
  border-right-style: solid;
}
.info_list > div.list > div:hover {
  background-color: rgba(235, 235, 245, 0.8);
}
.info_list > div.list > div.title {
  background-color: rgba(130, 150, 230, 0.8);
  color: white;
  /* border-color: rgb(80, 80, 150); */
}
.info_list > div.list > div.title > div {
  font-family: "Unica One", serif;
  /* border-color: rgb(80, 80, 150); */
}
.info_list > div.list > div.title:hover {
  background-color: rgba(110, 130, 210, 0.8);
}
.info_list > div.list > div.new {
  background-color: rgba(230, 140, 80, 0.8);
}
.info_pane em {
  color: var(--theme-2);
  font-weight: bold;
  font-style: italic;
}
/**************************** DIALOG **********************************/
.dialog {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 50, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.dialog_container {
  position: fixed;
  display: flex;
  padding: 2px 0 7px 0;
  margin: 0 0 5px 0;
  width: auto;
  min-height: 100px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  border: 1px solid rgb(80, 80, 150);
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 15px;
  z-index: 200;
}
.dialog_title {
  padding: 5px;
  font-family: "Unica One", sans-serif;
  font-size: 30px;
}
.dialog_area {
  position:relative;
  display: flex;
  padding: 5px;
  margin: 5px;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  border-top: 1px solid rgba(120, 120, 150, 0.8);
  border-bottom: 1px solid rgba(120, 120, 150, 0.8);
}
.dialog_confirmation {
  position: relative;
  display: flex;
  padding: 5px;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}
/**************************** TOOLTIP  *******************************/
.tooltip {
  display: block;
  position: absolute;
  z-index: 100;
}
.tooltip_area {
  display: block;
  top :0px;
  padding: 5px;
  position: relative;
  background: rgba(0,0,0,0.8);
  color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}
.tooltip_area::before {
  display: block;
  position: absolute;
  top: -9px;
  width: 0px;
  left: calc(50% - 5px);
  content: ' ';
  box-sizing: content-box;
  border: 5px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,0.8);
}
/**************************** WORKSPACE *******************************/
.sim_container {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
  flex: 0 0 auto;
}
.sim {
  display: grid;
  grid-template-areas: 
    '. rulertop .'
    'rulerleft map rulerright'
    '. rulerbottom .';
  background: rgba(255, 255, 255, 0.95);
  padding: 5px;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  border: 1px solid var(--theme-3);
}
/**************************** WORKSPACE RULERS & MAZE *******************************/
.ruler_h {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 0 0px;
}
.ruler_v {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 0px 0;
}
.ruler_top {
  grid-area: rulertop;
}
.ruler_right {
  grid-area: rulerright;
}
.ruler_bottom {
  grid-area: rulerbottom;
}
.ruler_left {
  grid-area: rulerleft;
}
.rule {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  color: rgb(120,120,120);
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  line-height: 10px;
}
.ruler_h > .rule {
  height: 15px;
  width: calc(var(--cell-size) - 1px);
  margin: 0 0.5px;
}
.ruler_v > .rule {
  height: calc(var(--cell-size) - 1px);
  width: 20px;
  margin: 0.5px 0;
}
.map {
  grid-area: map;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  box-sizing: content-box;
  padding: 0px;
  height: calc(100%);
  width: calc(100%);
  border: 1px solid rgb(100, 100, 120);
  overflow: visible;
  margin: -1px;
}
.path {
  z-index: 500;
  position: absolute;
  display: block;
  box-sizing: content-box;
  transform-origin: center center;
  flex: 0 0 auto;
  pointer-events: none;
}
.path_p {
  fill: rgba(255, 40, 36, 0.7);
}
.path_t {
  fill: rgba(140, 100, 255, 0.4);
}
/**************************** MAZE CELLS *******************************/
.cells {
  display: grid;
  position: absolute;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  background-color: rgb(200, 200, 200);
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 20;
  color: rgb(145, 145, 145);
}
.cell {
  display: flex;
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  background: rgb(255, 255, 255);
  position: absolute;
  border: 1px solid rgb(200, 200, 200);
  font-size: var(--cell-font-size);
  font-family: 'Trebuchet MS', serif;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
}
.cell:hover {
  z-index: 999;
  border: 1px solid red;
  color: rgb(20, 20, 20);
  font-weight: bold;
}
.cell_encountered {
  background: rgb(255, 245, 230);
}
.cell_visited {
  background: rgb(248, 248, 255);
}
.cell_front {
  background: rgb(255, 180, 170);
}
.cell_obs {
  background: rgb(100, 100, 120);
  border: 1px solid rgb(100, 100, 120);
  color: rgb(145, 145, 145);
  z-index: 95;
}
.cell_obs:hover {
  color: white;
}
.cell.focus {
  border: 2px dashed red;
}
.goal {
  position: absolute;
  box-sizing: border-box;
  height: var(--start-goal-size);
  width: var(--start-goal-size);
  margin: calc(var(--start-goal-size) * -0.5) 0 0 calc(var(--start-goal-size) * -0.5);
  z-index: 96;
  /* background-size: 100%;
  background-image: url('../img/start.svg'); */
  transition: none;
  border-radius: 50%;
  border: 3px solid rgb(255, 50, 80);
  top: 1px;
  left: 1px;
}
.start {
  position: absolute;
  box-sizing: border-box;
  height: var(--start-goal-size);
  width: var(--start-goal-size);
  z-index: 97;
  margin: calc(var(--start-goal-size) * -0.5) 0 0 calc(var(--start-goal-size) * -0.5);
  /* background-size: 100%;
  background-image: url('../img/goal.svg'); */
  transition: none;
  border-radius: 50%;
  border: 3px solid rgb(80, 230, 50);
  top: 1px;
  left: 1px;
}
.goal:hover, .goal:active {
  border: 3px solid rgb(255, 50, 80);
  background: rgba(255, 50, 80, 0.5);
}
.start:hover, .start:active {
  border: 3px solid rgb(80, 230, 50);
  background: rgba(80, 230, 50, 0.5);
}

  /* background: rgb(255, 210, 210); */
  /* border: 1px solid rgb(255, 100, 100); */
/* } */
/* .cornerpurple { */
  /* background: rgb(240, 130, 240); */
  /* border: 1px solid rgb(180, 100, 180); */
/* } */