:root {
    --color-blu0: hsla(230, 100%, 10%, 1);
    --color-blu1: hsla(228, 100%, 20%, 1);
    --color-blu2: hsla(226, 100%, 30%, 1);
    --color-blu3: hsla(224, 100%, 40%, 1);
    --color-blu4: hsla(222, 100%, 50%, 1);
    --color-blu5: hsla(220, 90%, 60%, 1);
    --color-blu6: hsla(218, 90%, 70%, 1);
    --color-blu7: hsla(216, 90%, 80%, 1);
    --color-blu8: hsla(214, 90%, 90%, 1);
    --color-blu9: hsla(212, 90%, 98%, 1);
    --color-blu10: hsla(230, 70%, 10%, 1);
    --color-blu11: hsla(228, 70%, 20%, 1);
    --color-blu12: hsla(226, 70%, 30%, 1);
    --color-blu13: hsla(224, 70%, 40%, 1);
    --color-blu14: hsla(222, 70%, 50%, 1);
    --color-blu15: hsla(220, 70%, 60%, 1);
    --color-blu16: hsla(218, 70%, 70%, 1);
    --color-blu17: hsla(216, 70%, 80%, 1);
    --color-blu18: hsla(214, 70%, 90%, 1);
    --color-blu19: hsla(212, 70%, 98%, 1);

    --color-cya0: hsla(210, 100%, 10%, 1);
    --color-cya1: hsla(208, 100%, 20%, 1);
    --color-cya2: hsla(206, 100%, 30%, 1);
    --color-cya3: hsla(204, 100%, 40%, 1);
    --color-cya4: hsla(202, 100%, 50%, 1);
    --color-cya5: hsla(200, 90%, 60%, 1);
    --color-cya6: hsla(198, 90%, 70%, 1);
    --color-cya7: hsla(196, 90%, 80%, 1);
    --color-cya8: hsla(194, 90%, 90%, 1);
    --color-cya9: hsla(192, 90%, 98%, 1);
    --color-cya10: hsla(210, 70%, 10%, 1);
    --color-cya11: hsla(208, 70%, 20%, 1);
    --color-cya12: hsla(206, 70%, 30%, 1);
    --color-cya13: hsla(204, 70%, 40%, 1);
    --color-cya14: hsla(202, 70%, 50%, 1);
    --color-cya15: hsla(200, 70%, 60%, 1);
    --color-cya16: hsla(198, 70%, 70%, 1);
    --color-cya17: hsla(196, 70%, 80%, 1);
    --color-cya18: hsla(194, 70%, 90%, 1);
    --color-cya19: hsla(192, 70%, 98%, 1);

    --color-orn0: hsla(36, 100%, 10%, 1);
    --color-orn1: hsla(34, 100%, 20%, 1);
    --color-orn2: hsla(32, 100%, 30%, 1);
    --color-orn3: hsla(30, 100%, 40%, 1);
    --color-orn4: hsla(28, 100%, 50%, 1);
    --color-orn5: hsla(26, 90%, 60%, 1);
    --color-orn6: hsla(24, 90%, 70%, 1);
    --color-orn7: hsla(22, 90%, 80%, 1);
    --color-orn8: hsla(20, 90%, 90%, 1);
    --color-orn9: hsla(18, 90%, 98%, 1);
    --color-orn10: hsla(36, 70%, 10%, 1);
    --color-orn11: hsla(34, 70%, 20%, 1);
    --color-orn12: hsla(32, 70%, 30%, 1);
    --color-orn13: hsla(30, 70%, 40%, 1);
    --color-orn14: hsla(28, 70%, 50%, 1);
    --color-orn15: hsla(26, 70%, 60%, 1);
    --color-orn16: hsla(24, 70%, 70%, 1);
    --color-orn17: hsla(22, 70%, 80%, 1);
    --color-orn18: hsla(20, 70%, 90%, 1);
    --color-orn19: hsla(18, 70%, 98%, 1);

    --color-red0: hsla(10, 100%, 10%, 1);
    --color-red1: hsla(8, 100%, 20%, 1);
    --color-red2: hsla(6, 100%, 30%, 1);
    --color-red3: hsla(4, 100%, 40%, 1);
    --color-red4: hsla(2, 100%, 50%, 1);
    --color-red5: hsla(0, 90%, 60%, 1);
    --color-red6: hsla(358, 90%, 70%, 1);
    --color-red7: hsla(356, 90%, 80%, 1);
    --color-red8: hsla(354, 90%, 90%, 1);
    --color-red9: hsla(352, 90%, 98%, 1);
    --color-red10: hsla(10, 70%, 10%, 1);
    --color-red11: hsla(8, 70%, 20%, 1);
    --color-red12: hsla(6, 70%, 30%, 1);
    --color-red13: hsla(4, 70%, 40%, 1);
    --color-red14: hsla(2, 70%, 50%, 1);
    --color-red15: hsla(0, 70%, 60%, 1);
    --color-red16: hsla(358, 70%, 70%, 1);
    --color-red17: hsla(356, 70%, 80%, 1);
    --color-red18: hsla(354, 70%, 90%, 1);
    --color-red19: hsla(352, 70%, 98%, 1);

    
    --color-green0: hsla(138, 100%, 10%, 1);
    --color-green1: hsla(136, 100%, 20%, 1);
    --color-green2: hsla(134, 100%, 30%, 1);
    --color-green3: hsla(132, 100%, 40%, 1);
    --color-green4: hsla(130, 100%, 50%, 1);
    --color-green5: hsla(128, 90%, 60%, 1);
    --color-green6: hsla(126, 90%, 70%, 1);
    --color-green7: hsla(124, 90%, 80%, 1);
    --color-green8: hsla(122, 90%, 90%, 1);
    --color-green9: hsla(120, 90%, 98%, 1);
    --color-green10: hsla(138, 70%, 10%, 1);
    --color-green11: hsla(136, 70%, 20%, 1);
    --color-green12: hsla(134, 70%, 30%, 1);
    --color-green13: hsla(132, 70%, 40%, 1);
    --color-green14: hsla(130, 70%, 50%, 1);
    --color-green15: hsla(128, 70%, 60%, 1);
    --color-green16: hsla(126, 70%, 70%, 1);
    --color-green17: hsla(124, 70%, 80%, 1);
    --color-green18: hsla(122, 70%, 90%, 1);
    --color-green19: hsla(120, 70%, 98%, 1);

    --color-gray0: hsla(0, 0%, 10%, 1);
    --color-gray1: hsla(0, 0%, 20%, 1);
    --color-gray2: hsla(0, 0%, 30%, 1);
    --color-gray3: hsla(0, 0%, 40%, 1);
    --color-gray4: hsla(0, 0%, 50%, 1);
    --color-gray5: hsla(0, 0%, 60%, 1);
    --color-gray6: hsla(0, 0%, 70%, 1);
    --color-gray7: hsla(0, 0%, 80%, 1);
    --color-gray8: hsla(0, 0%, 90%, 1);
    --color-gray9: hsla(0, 0%, 98%, 1);


    --tooltip-tail: 8px;
    --cell-size: 30px;
    --cursor-dia: 20px;
    --cell-border-radius: 0px;
    --cell-border-width: 0px;
    --cell-size-vis: calc(var(--cell-size) - var(--cell-border-width));
    --arrow-width: 3px;
    --arrow-cap: 12px;
    --sprite-cell-scale: 1;
    --sprite-vertex-scale: 0.7;

    --sprite-link-knob: 5; /* the quad bezier's knob location, positioned at this normal distance from the halfway point */
    --sprite-link-anchor-radius: 0.25; /* the anchor's radius scaled to cell size */
    --sprite-link-root-radius: 0.3; /* the root's radius scaled to cell size */
    --sprite-link-arrow-length: 12; /* the arrow length in pixels */
    --sprite-link-arrow-width: 12; /* the arrow width in pixels */
    --sprite-link-arrow-position: 0.95; /* the arrow's position in the "t" parametric distance, with 0 being at the anchor, and 1 being at the root */
    --sprite-link-stroke-width: 3; /* the stroke thickness of the link in pixels */
    --sprite-link-anchor-width: 2; /* the stroke thickness of the anchor in pixels */

    --sprite-sec-src-radius: 0.3; /* the radius of the circle at the source, scaled to cell size */
    --sprite-sec-ray-arrow-length: 18; /* the ray's arrow length in pixels */ 
    --sprite-sec-ray-arrow-width: 8; /* the ray's arrow width in pixels */
    --sprite-sec-ray-radius: 0; /* the radius of the invisible circle at the other end of the ray. One end of the ray is at the src. */
    --sprite-sec-radius: 4; /* the radius of the sector, scaled to cell size. */
    --sprite-sec-ray-width: 3; /* the stroke width of the ray in pixels */
    --sprite-sec-ext-width: 1; /* the stroke width of the extended linein pixels. Have to be smaller than ...ray-width */

    --sprite-prog-src-radius: 0.3; 
    --sprite-prog-tgt-radius: 0.2;
    --sprite-prog-arrow-length: 20;
    --sprite-prog-arrow-width: 12; 
    --sprite-prog-stroke-width: 3; 

    --sprite-trace-stroke-width: 5;

    --font-family-body: Arial, Helvetica, sans-serif;
    --font-family-title: 'Times New Roman', Times, serif;
    --font-family-data: 'Courier New', Courier, monospace;

    --font-size-footnote: 10px;
    --font-size-small: 12px;
    --font-size-normal: 16px;
    --font-size-large: 20px;
    --font-size-huge: 30px;
}

* {
    writing-mode: horizontal-tb;
    transition: all .1s ease-in-out;
    user-select: none;
    font-family: var(--font-family-body);
    font-size: var(--font-size-normal);
    margin: 0;
    padding: 0;
}


i,
b {
    font-family: inherit;
    font-size: inherit;
}