.body>.graph>.layers>.sprites {
    &>div {
        position: absolute;
        pointer-events: all;

        &.vtx {
            border-radius: 50%;
        }

        &.vtx,
        &.cell {
            box-sizing: border-box;
            opacity: 60%;
            background-color: transparent;
            border-color: transparent;

            &:hover {
                opacity: 80%;
                border-width: 6px;
                border-style: solid;
            }

            &.cya {
                background-color: var(--color-cya17);

                &:hover {
                    border-color: var(--color-cya16);
                }
            }

            &.orn {
                background-color: var(--color-orn17);

                &:hover {
                    border-color: var(--color-orn16);
                }
            }

            &.blu {
                background-color: var(--color-blu17);

                &:hover {
                    border-color: var(--color-blu16);
                }
            }

            &.red {
                background-color: var(--color-red6);

                &:hover {
                    border-color: var(--color-red5);
                }
            }

            &.gray {
                background-color: var(--color-gray7);

                &:hover {
                    border-color: var(--color-gray6);
                }
            }

            &.trn {
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    border-color: gray;
                }
            }

            /* ----------- Outlines ------------ */
            &.o-red {
                border: 6px dashed var(--color-red4);

                &:hover {
                    border-color: var(--color-red3);
                }
            }
        }
    }

    &>svg {
        position: absolute;
        pointer-events: all;

        &.arw {
            transform-origin: calc(var(--arrow-width) / 2) center;

            &>:first-child {
                stroke-opacity: 80%;
                stroke-width: var(--arrow-width);
                stroke-linecap: round;

                &:hover,
                &:has(+polygon:hover) {
                    stroke-opacity: 100%;
                }

                &.cya {
                    stroke: var(--color-cya6);

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: var(--color-cya5);

                        &+polygon {
                            fill: var(--color-cya5);
                            fill-opacity: 100%;
                        }
                    }
                }

                &.orn {
                    stroke: var(--color-orn6);

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: var(--color-orn5);

                        &+polygon {
                            fill: var(--color-orn5);
                            fill-opacity: 100%;
                        }
                    }
                }

                &.blu {
                    stroke: var(--color-blu6);

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: var(--color-blu5);

                        &+polygon {
                            fill: var(--color-blu5);
                            fill-opacity: 100%;
                        }
                    }
                }

                &.red {
                    stroke: var(--color-red6);

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: var(--color-red5);

                        &+polygon {
                            fill: var(--color-red5);
                            fill-opacity: 100%;
                        }
                    }
                }

                &.gray {
                    stroke: var(--color-gray6);

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: var(--color-gray5);

                        &+polygon {
                            fill: var(--color-gray5);
                            fill-opacity: 100%;
                        }
                    }
                }

                &.trn {
                    stroke: transparent;

                    &:hover,
                    &:has(+polygon:hover) {
                        stroke: gray;

                        &+polygon {
                            fill: gray;
                            fill-opacity: 100%;
                        }
                    }
                }
            }

            &>polygon {
                /* arrow */
                stroke: none;
                fill-opacity: 80%;

                &:hover {
                    fill-opacity: 100%;
                }

                &.cya {
                    fill: var(--color-cya6);

                    &:hover {
                        fill: var(--color-cya5);
                    }
                }

                &.orn {
                    fill: var(--color-orn6);

                    &:hover {
                        fill: var(--color-orn5);
                    }
                }

                &.blu {
                    fill: var(--color-blu6);

                    &:hover {
                        fill: var(--color-blu5);
                    }
                }

                &.red {
                    fill: var(--color-red6);

                    &:hover {
                        fill: var(--color-red5);
                    }
                }

                &.gray {
                    fill: var(--color-gray6);

                    &:hover {
                        fill: var(--color-gray5);
                    }
                }

                &.trn {
                    fill: transparent;

                    &:hover {
                        fill: gray;
                    }
                }
            }
        }
    }
}