body {
  background-color: rgb(255, 249, 252); 
  font-family: Arial, sans-serif;
  font-size: 13px;
}
table.pane {
  border: 1px solid rgb(200, 200, 220);
  padding: 3px;
  border-radius: 10px;
  background-color: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: 1px solid rgb(200, 200, 220);
  background-color: white;
  padding: 3px;
}
input:hover {
  border: 1px solid rgb(180, 180, 200);
  background-color: rgb(250, 250, 255);
}
input:focus {
  border: 1px solid rgb(140, 140, 230);
  background-color: rgb(245, 245, 255);
}
input:active {
	transform: scale(0.95,0.95);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  width: 110px;
}
th {
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 8pt;
}
sub { 
  top: 0.4em; 
}
.inputs {
  display: block;
  position: fixed;
  width : 500px;
  height: calc(100% - 10px);
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 99;
  background-color: rgba(255, 249, 252, 0.9); 
  min-height: 300px;
}
.plots {
  display: block;
  position: absolute;
  padding: 5px;
  width: calc(100% - 515px);
  min-width: 200px;
  height: calc(100% - 10px);
  top: 0px;
  left: 505px;
  min-height: 300px;
}
.th1 {
  background: #FF416C;  /* fallback for old browsers */
  background: linear-gradient(to bottom, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 20px;
  color: white;
}
.th2 {
  background-color: rgb(240, 240, 240);
}
.th3 {
  background-color: rgb(240, 240, 240);
  padding: 1px;
}
.val {
  text-align: left;
}
.plot {
  width : 260px;
}
.thl {
  height : 1px;
  padding : 0;
  background-color : rgb(220, 220, 220);
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:4px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
  text-align: center;
}
.btn:hover{
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  border:1px solid #942911;
	background-color:#bc3315;
}
.btn2 {
	box-shadow:inset 0px 1px 0px 0px #f3f3ff;
	background:linear-gradient(to bottom, #fcfcfc 5%, #dcdcdc 100%);
	background-color:#fcfcfc;
	border-radius:4px;
	border:1px solid #c3c3c3;
	display:inline-block;
	cursor:pointer;
	color:#33333;
	font-family:Arial;
	font-size:13px;
	padding: 1.5px 1.5px;
	text-decoration:none;
  font-weight: normal;
  width: calc(100% - 3px);
  text-align: center;
}
.btn2:hover{
	background:linear-gradient(to bottom, #ececef 5%, #dcdcdc 100%);
  border:1px solid #b3b3b3;
	background-color:#ececef;
}
.btn2:active{
	background:linear-gradient(to bottom, #dcdcdc 5%, #fcfcfc 100%);
  border:1px solid #b3b3b3;
	background-color:#dcdcdc;
}
.rtfbtn {
  display: none; 
  padding: 5px 3px;
  width: 68px;
}
.radiusbtn {
  padding: 5px 3px;
  width: 116px;
}
.title {
  font-size: 45px;
  font-family: Georgia, serif;
  color: #332029;
  line-height: 40px;
}
.paneintro {
  position: relative;
  top: 0px;
  left: 0px;
  height: 40px;
  background: none;
  border: none;
}
.paneparam {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 45px);
}
.paneparamrow {
  height: 30px;
  vertical-align: middle;
  position: relative;
}
.paneparamcode td {
  position: relative;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  vertical-align: top;
}
#code {
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 10px;
}
.paneplot {
  display: inline-block;
  position: relative;
}
.footnote {
  position:absolute;
  top: 25px;
  left: 220px;
  margin: 5px;
  font-family: Georgia, serif;
  color: #ddddcc;
}
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 0%; /* At the bottom of the tooltip */
  left: 8px;
  margin-left: 0px;
  margin-top: -8px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: 99;
}
.tooltiptrigger .tooltip{
  position: absolute;
}
.tooltiptext{
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: normal;
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 99;
  transition: opacity 0.2s;
}
.tooltiptrigger:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}